<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.schedule.project.dao.CalendarDAO">	
	<select id="selectByUserid" parameterType="java.util.HashMap" resultType="CalendarVO">
		SELECT * FROM SCHEDULE WHERE username=#{userid }		
	</select>
	<select id="selectCount" parameterType="java.util.HashMap" resultType="int">
		select count(*) from schedule where username=#{userid }
	</select>
	<update id="update" parameterType="CalendarVO">
		update schedule set 
		title = #{title}
		,description = #{description} ,"start" = #{start}
		,"end" = #{end} ,"type" = #{type} 
		,backgroundColor = #{backgroundColor},textColor = #{textColor}
		,allDay = #{allDay}
		where username=#{username } and "_id"=#{_id}
	</update>
	<delete id="delete" parameterType="int">
		delete from schedule where "_id"=#{_id}
	</delete>
	<insert id="insert" parameterType="java.util.HashMap">
		INSERT INTO schedule VALUES (schedule_SEQ.nextval,#{title}, #{description},#{start},#{end}
		, #{type}, #{username }, #{backgroundColor}, #{textColor}, #{dayNumber})
	</insert>
	
</mapper>  