<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.schedule.project.dao.ManageDAO">
	<insert id ="insert" parameterType="MemberVO">
		INSERT INTO member_manage values(member_manage_SEQ.nextval,#{m_id},SYSDATE,0,0)
	</insert>	
</mapper> 